{% extends "base.html" %}
{% block content %}

<h3 class="">Add Recipe</h3>

<form class="col s12" method="POST" action="{{ url_for("add_recipe") }}>
    <div class="form-row ">
      <div class="form-group col-md-6">
        <label for="recipe_title">Recipe Title</label>
        <input type="text" name="recipe_title" class="form-control validate" id="recipe_title" minlength="5" maxlength="50" required>
      </div>
    </div>
    <div class="form-row"> 
      <div class="form-group col-md-6">
        <label for="recipe_image_url">Recipe Image Url</label>
        <input type="text" name="recipe_image_url" class="form-control validate" id="recipe_image_url">
      </div>
    </div>
    <div class="form-row"> 
      <div class="form-group col-md-6">
        <label for="recipe_ingredients">Ingredients</label>
        <textarea type="text" name="recipe_ingredients" class="form-control validate" id="recipe_ingredients" required></textarea>
      </div>
    </div>
    <div class="form-row">  
      <div class="form-group col-md-6">
        <label for="recipe_method">Recipe Method</label>
        <textarea type="text" name="recipe_method" class="form-control validate" id="recipe_method" required></textarea>
      </div>
    </div>
    <div class="form-row">  
      <div class="form-group col-md-6">
        <label for="recipe_cooking_time">Total Cooking time (minutes)</label>
        <select class="form-control validate" name="recipe_cooking_time" id="recipe_cooking_time">
          <option>10</option>
          <option>20</option>
          <option>30</option>
          <option>40</option>
          <option>50</option>
          <option>60</option>
          <option>70</option>
          <option>80</option>
          <option>90</option>
          <option>100</option>
          <option>110</option>
          <option>120</option>
          <option>130</option>
          <option>140</option>
          <option>150</option>
          <option>160</option>
          <option>170</option>
          <option>180</option>
          <option>190</option>
          <option>200</option>
          <option>210</option>
          <option>220</option>
        </select>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Submit Recipe</button>
        </div>    
    </div>    
  </form>




{% endblock %}