{% extends "base.html" %}
{% block content %}

<h3 class="">Edit Recipe</h3>

<form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
    <div class="form-row ">
      <div class="form-group col-md-6">
        <label for="recipe_title">Recipe Title</label>
        <input type="text" name="recipe_title" class="form-control validate" 
            value="{{ recipe.recipe_title }}" id="recipe_title" minlength="5" maxlength="50" required>
      </div>
    </div>
    <div class="form-row"> 
      <div class="form-group col-md-6">
        <label for="recipe_image_url">Recipe Image Url</label>
        <input type="text" name="recipe_image_url" 
        value="{{ recipe.recipe_image_url }}" class="form-control validate" id="recipe_image_url">
      </div>
    </div>
    <div class="form-row"> 
      <div class="form-group col-md-6">
        <label for="recipe_ingredients">Ingredients</label>
        <textarea type="text" name="recipe_ingredients" class="form-control validate" id="recipe_ingredients" required>
        {{- recipe.recipe_ingredients -}}  
        </textarea>
      </div>
    </div>
    <div class="form-row">  
      <div class="form-group col-md-6">
        <label for="recipe_method">Recipe Method</label>
        <textarea type="text" name="recipe_method" class="form-control validate" id="recipe_method" required>
        {{- recipe.recipe_method -}}  
        </textarea>
      </div>
    </div>
    <div class="form-row"> 
      <div class="form-group col-md-6">
        <label for="recipe_cooking_time">Total Cooking time (minutes)</label>
        <input type="text" name="recipe_cooking_time" 
        value="{{ recipe.recipe_cooking_time }}" class="form-control validate" id="recipe_cooking_time">
      </div>
    </div>
    
    <div class ="form-row">
      <div class=" col s12 center-align">
        <button>
          <a href="{{ url_for('get_recipes') }}" class="btn btn-danger" type="submit">Cancel</a>
        </button>
        <button>
            <a  class="btn btn-primary" type="submit">Save Changes</a>
        </button>
      </div>  
    </div>
  </form>




{% endblock %}