{% extends "base.html" %}
{% block content %}
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase ">Simmer</div>
        <div class="masthead-subheading">Share your culinary secrets!</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="{{ url_for('register') }}">Sign up now!</a>
    </div>
</header>

        <!-- recipe Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Find your recipe</h2>
                    <h3 class="section-subheading text-muted">Explore hundreds of user submitted recipes here</h3>
                </div>

                <form  action="{{ url_for('search') }}" method= "post" class=" col-md-4 input-group d-flex justify-content-center searchbar" id="searchbar">                      <!--search bar for recipes. taken from https://mdbootstrap.com/docs/standard/forms/search/-->
                    <div class="form-outline">
                      <input type="text" id="query" name="query" class="form-control validate" minlength="3" required placeholder="search recipe"/>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary"> 
                            <i class="fas fa-search"></i>    
                        </button>
                    </div>    
                </form>
                
                {% for recipe in recipes %}
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- recipe item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="INSERT RANDOM RECIPE LINK HERE">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{{ recipe.recipe_image_url}}" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">{{ recipe.recipe_title }}</div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
                
            </div>
        </section>




{% endblock %}