{% extends "base.html" %}

{% block content %}

<div class="container px-0 recipe_container">
    <div class="row align-items-start py-5">
        <div class="col-md-6 text-center">
            <!--Recipe Name-->
            <h1 class="heading-primary">{{ recipe.recipe_title }}</h1>
            <!--Recipe Description-->
            


            
            <div class="row pt-3">
                <!--Cooking Time-->
                <div class="col-6">
                    <i class="fas fa-hourglass-start recipe_icon"></i>
                    <h4>Cooking Time</h4>
                    <p class="paragraph">{{ recipe.recipe_cooking_time }} Min</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <img class="img-fluid" src="{{ recipe.recipe_image_url }}" alt="recipe image">
        </div>
    </div>

    {% if session.user|lower == recipe.created_by|lower %}
    <div class="row m-auto">
        <!--Edit Button-->
        <div class="col-6 m-auto">
            <a role="button" class="btn btn-outline-primary" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit Recipe</a>
        </div>
        <!--Delete Button-->
        <div class="col-6 m-auto">
            <a role="button" class="btn btn-outline-danger" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete Recipe</a> 
        </div>
    </div>
    {% endif %} 

    <div class="row py-5">
        <!--Ingredients List-->
        <div class="col-sm-12 col-md-6 pb-5 text-center">
            <h2 class="heading-primary">Ingredients</h2>
            <p class="paragraph px-3">{{ recipe.recipe_ingredients }}</p>

        </div>
        <!--Recipe Directions List-->
        <div class="col-sm-12 col-md-6">
            <h2 class="heading-primary text-center">Directions</h2>
            <p class="paragraph px-3">{{ recipe.recipe_method }}</p>
        </div>
    </div>   
</div>

{% endblock%}